# 确保在workspace 中安装依赖时，peer 依赖问题不会阻断开发
auto-install-peers = true 
strict-peer-dependencies = false

; # 通过设置 shamefully-hoist 为 true，pnpm 会创建一个更宽松的node_modules 结构，允许依赖项可以访问未声明的依赖项
; # 这可以解决一些依赖项的版本冲突问题，但也会导致一些潜在的问题，比如依赖项的版本不一致等
; shamefully-hoist = true

; # 工作空间设置，启用该选项后，本地可用的软件包会被链接到node_modules 中,而不是从注册站下载。这在monorepo 中非常方便。如果你需要本地包也连接到子依赖项，可以使用 deep，若选中true ，则本地包也会被链接到子依赖项中
; link-workspace-packages = true

; shared-workspace-lockfile = true
; save-workspace-protocol = true
; resolution-mode = highest
; prefer-workspace-packages = true
; # 依赖解析设置
; hoist-pattern[]=*next-intl*
; dedupe-peer-dependents = true
; node-linker = hoisted